#logo {
    margin-top: -10px;
    margin-left: 15px;
    height: 35px;
}
.navbar-brand {
        padding: 10px;
    }
.nav>li>a {
    padding: 10px;
}
#toggles {
    margin-top: 5px;
}
#toggles:hover {
    background-color:transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color:crimson;
}
#nav-collapse {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .8);
}
.navbar-collapse {
    border: 0;
}
.navbar-toggle {
    
}
#nav {
    width: 100%;
    position: absolute;
    z-index: 1;
   
    display: block;
    li a{
    font-family: 'Acme', sans-serif;
    color: white; 
    }
    li a:hover {
        color:white;
        background-color:crimson;
    }
     .active:hover {
        color:white;
        background-color: crimson;
    }
}
.navbar {
    background-color: transparent;
   background: transparent;
   border-color: transparent;
    border: none;
    ul li a {
        
    }
    
    #brandname{
       width: 100%;
        font-family: 'Acme', sans-serif;
        color: white;
    }
    #fb {
        font-size: 18px;
    }
    #fb:hover {
        color: #3b5998;
        background-color: white;
}
    #ig {
        font-size: 18px;
    }
    #ig:hover {
        color: #8a3ab9;
        background-color: white;
    }
    #yt {
        font-size: 18px;
    }
    #yt:hover {
        color: #bb0000;
        background-color: white;
    }
}
.fill {
   
}
html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption {
    line-height: 40px;
    position: absolute;
    bottom: 20%;
    h1 {
        font-family: 'Acme', sans-serif;
    }
    p {
        font-size: 18px;
       font-family: 'Acme', sans-serif; 
    }
}
#down {
    position: absolute;
    bottom: 80px;
    left: 49%;
    
    border-radius: 150px;
    
}
#down {
    animation-duration: 3s;
    animation-name: moveDown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes moveDown {
    100% { bottom: 100px;}
    50%  { bottom: 110px;}
    0%   { bottom: 85px;}
    50%  { bottom: 110px;}
    
}

.info-container {
    position: relative;
    z-index: 1;
    padding: 10px;
    display: block;
    line-height: 25px;
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    a {
        text-decoration: none;
    }
    h2 {
        font-size: 100px;
        margin: 0;
        font-size: 100px;
        margin-bottom: .3em;
        
    }
    p {
        margin: 0;
        margin-bottom: 1em;
        padding: 5px;
    }
    
}
.spacer {
    margin-bottom: .5em;
}
@media screen and(max-width: 380px) {
    
    #fitbg {
        max-height: 190px;
        background-position: 40% 60%;
       background-image: url(../img/fitbgmob.png);
        background-size: cover;
    }
    #fitbg img{
        display: none;
    }
    
}
#fitbg-container p{
    position: relative;
    z-index: 2;
    bottom: 210px;
    right: 30px;
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    
}

#fitbg {
    margin-top: 55px;
        height: 300px;
        width: 100%;
	   background-repeat: no-repeat;
	   background-position: 40% 64%;
       background-image: url(../img/fitbg.png);
        background-size: cover;
      
    }
#fitbg-container p {
    
    transition-timing-function: ease-in;
    transition: 0.2s;
     animation-duration: 2s;
    transition-timing-function: ease-out;
    transition: 0.2s;
    animation-duration: 2s;
    animation-name: slides;
}
@keyframes slides {
 
    
    100% { margin-right: 0%;}
    40%  { margin-right: 60%;}
    20%  { margin-right: 100%;}
    0%   { margin-right: 200%;}
    
    
}
.quote {
    height: auto;
    text-align: center;
    
    color: dimgray;
    
    font-family: 'Just Another Hand', cursive;
    h2 {
        font-style: italic;
        font-size: 50px;
    }
    h3 {
        font-size: 40px;
    }
     #george {
        border-radius: 330px;
         height: 100px;
         width: 100px;
       
    }
}
#transform{
   margin-top: 50px;
    max-height: 600px;
    height: auto;
    width: 100%;
}
.vlog {
    width: 100%;
    color: white;
    background-color: black;
    font-family: 'Acme', sans-serif;
    height: auto;
    .panel-body {
      border: none;
    
    }
    
    
    
}
#content {
    height: auto;
    z-index: 5;
    position: absolute;
   max-width: 100%;
   
    h2 {
        max-width: 500px;
        clear: right;
        width: 100%;
        margin-bottom: 0px;
        line-height: 1.35;
    }
    p {
        height: auto;
    }
    h2, p{
        
        
        position: relative;
        top: 260px;
        background-color: rgba(0,0,0,.9);
    }
}
#ytvid {
    padding: 15px;
    max-width: 100%;
    height: auto;
    background-color: black;
    min-height: 400px;
    p {
        max-width: 500px;
        line-height: 30px;
        height: 85px;
        background-color: rgba(0,0,0,.9);
    }
    iframe {
        
        float: left;
        min-height: 400px;
        max-width: 500px;
        width: 100%;
        clear: right;
        margin-bottom: 15px;
    }
    
    }
ytp-chrome-top ytp-watch-later-button-visible ytp-share-button-visible {
    
}
#foot {
    color: white;
    
    margin: 0;
    width: 100%;
    background-image: url(../img/footer.png);
    background-size: cover;
}
#sitemap {
    text-align: center;
   
    display: inline;
    list-style: none;
    
}
#footer-info {
    text-align: center;
    display: block;
    
    list-style: none;
    
}
#copyrights {
    clear: both;
    text-align: center;
}